[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==2.11.2"
aiohttp = "==3.7.3"
async-timeout = "==3.0.1"
attrs = "==20.3.0"
babel = "==2.9.0"
certifi = "==2020.11.8"
chardet = "==3.0.4"
idna = "==2.10"
pytz = "==2020.4"
prettytable = "==2.0.0"
typing-extensions = "==3.7.4.3"
wcwidth = "==0.2.5"
install = "*"
multidict = "*"
yarl = "==1.7.2"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
